    <nav class="h3acolor navbar navbar-expand  static-top">
      <img src="images/icon.png" height="45px" style="padding-right:10px;"> H3Africa - {{HomeData.app_label}}
    </nav>
	
	<div class="col-md-12" style="display:inline-block;margin-top: 48px;width:100%;">
		 <div class="checkAll" ng-show="!myPage.displaySpinner" style="padding:10px 0 10px 15px;background-color:#eee;">
			 <!--label style="margin-right:15px;font-weight:bold;font-size:15px;" class="btn btn-primary btn-xs">Duration 6 days</label-->	
				{{HomeData.w_message}}		 
		 </div>
		 <div class="checkAll" ng-show="!online" style="padding:10px 0 10px 15px;background-color:#ffc107;">
				<i class="fas fa-info-circle"></i> No Internet access... :(
		 </div>
	</div>

    <div id="wrapper">

      <!-- Sidebar -->

      <div id="content-wrapper" ng-show="!myPage.displaySpinner" style="margin-top:55px;">

        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-4 col-sm-4 mb-3">              
              <div class="card text-white bg-primary o-hidden h-100" >                
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;">Agenda/Meeting</div>
                </div>              
                 <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/overview/{{HomeData.evt_nid}}/{{HomeData.m_venue}}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                 </span> 
              </div>
            </div>
            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;"><span ng-show="alertAnnoucement" style="color: red;font-weight: bolder;font-size: 15px;border: 2px solid red;padding: 2px;border-radius: 6px;"><i class="fas fa-bell"></i> News</span> Announcements! </div>
                </div>
                <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/announcement/{{HomeData.evt_nid}}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </span>
              </div>
            </div>
            
            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-building"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;">Meeting Rooms</div>
                </div>
                <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/meetingroom/{{HomeData.evt_nid}}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </span>
              </div>
            </div>


            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-phone"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;">Emegerncy Contacts</div> 
                </div>
                <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/emergency/{{HomeData.evt_nid}}/emergency">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </span>
              </div>
            </div>

            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-globe-africa"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;">Information Pack</div>
                </div>
                <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/infopack/{{HomeData.evt_nid}}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </span>
              </div>
            </div>
   

            <div class="col-xl-4 col-sm-4 mb-3">
              <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-globe-africa"></i>
                  </div>
                  <div class="mr-5" style="font-weight:bold;">Invited Guests</div>
                </div>
                <span class="card-footer text-white clearfix small z-1 clickable-row" data-href="/invited/{{HomeData.evt_nid}}/invited">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </span>
              </div>
            </div>

          </div>  		  

        <!-- Speaker -->
      </div>
    </div>
	
	<!---- Spinner / Loader ---->

<div ng-show="myPage.displaySpinner" class="col-md-12 column" style="margin-top:140px;">

		<center id="loading">
				<div>
						<div class="loader"></div>	
						<strong>Loading...</strong>
				</div>
		</center>
</div>
