<nav id="myNavbar" class="h3acolor navbar navbar-expand navbar-fixed-top" style="position:fixed;z-index:9999;width:100%;height: 51px;">
	<div class="container" style="margin-left:0px;">
		<div class="navbar-header">
			<a class="navbar-brand" ng-click="backButton()" style="cursor:pointer;color:#fff;font-size:18px;font-weight:bold;">
					<div class="sync-label"><i class="fas fa-arrow-left" style="font-size:16px;"></i>&nbsp;&nbsp;&nbsp;Meeting - Information Pack</div>
			</a>
		</div>
	</div>
</nav> 

<div ng-show="!online && myPage.displaySpinner" class="col-md-12" style="display:inline-block;margin-top: 48px;width:100%;">
	 <div class="checkAll" style="padding:10px 0 10px 15px;background-color:#ffc107;">
			<i class="fas fa-info-circle"></i> No Internet access... :(
	 </div>
</div>
	 
    <div id="wrapper" ng-show="!myPage.displaySpinner" style="margin-top:45px;">

      <div id="content-wrapper">

        <div class="container-fluid">
			<ANY ng-repeat="item in myPage.InfoPackData">
				  <!-- Breadcrumbs-->
				  <ol class="breadcrumb">            
					<li class="breadcrumb-item active" style="font-weight:bold;">{{item.header}}</li>
				  </ol>

				  <!-- Page Content -->
				  <div class="alert alert-info" style="white-space: pre-line;padding-top:0;">
					  <strong>{{item.descr}}</strong>
				  </div>
			 </ANY>
        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
	
	
	
<!---- Spinner / Loader ---->

<div ng-show="myPage.displaySpinner" class="col-md-12 column" style="margin-top:140px;">
		<center id="loading">
				<div>
						<div class="loader"></div>	
						<strong>Loading...</strong>
				</div>
		</center>
</div>